nav {
    background: #2D2E2E;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    padding: 20px;
    display: block;
}

a:hover {
    color: #00a8ff;
}

.activated {
    /* background-color: #00a8ff; */
    background-color: red;
}